		
					<li style="display:flex">
							<ul><a href="/signup">Sign up</a></ul>
							<ul><a href="/login">Login</a></ul>
							<ul><a href="/logout">Logout</a></ul>
					</li>		
		
					<li style="display: flex;flex-direction: column;">
            <ul><a href="/">Home</a>
            </ul>
            <ul><a href="/about">About</a>
            </ul>
            <ul><a href="/contact">Contact</a>
            </ul>
             <ul><a href="/studs">Students</a>
            </ul>
        </li>