<%-include("./partials/head.ejs")%>
<body>
    <div>
        <%-include("./partials/nav.ejs")%>
        <h1>About Page</h1>
    </div>
    <!-- Scripts -->
    <script src=""></script>
</body>

</html>