<%-include("./partials/head.ejs")%>
<body>
	<%-include("./partials/nav.ejs")%>
	
	<h1>Sign Up</h1>
	
	<form method="post" action="/signup">
		
		<label for="email"><b>Email</b></label> <br />
		<input id="email" type="email" name="email" value="" required /> <br/> <br/>
		
		<label for="password"><b>Password</b></label> <br />
		<input id="password" type="password" name="password" value="" required /> <br /><br />
			
		<button type="submit">Submit</button>
	</form>
</body>